In [ ]:
Source: https://www.w3schools.com/python/

# Get Started!

In [1]:
print("Hello, World!")

Hello, World!

# Symtax

In [6]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [7]:
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!

In [8]:
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!

# Comment

In [9]:
# This is a comment

"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

# Variables

## Int, String, Float

In [10]:
age = 5
name = "John"

In [15]:
str(age)

'5'

In [13]:
int(name)

ValueError: invalid literal for int() with base 10: 'John'

In [14]:
float(name)

ValueError: could not convert string to float: 'John'

In [16]:
float(5)

5.0

In [18]:
decimal = 5.0
decimal

5.0

In [20]:
int(5.1234)

5

In [22]:
x = "John"
y = 'John'

In [24]:
a = 4
A = "John"
print(a, A)

4 John

In [25]:
type(1)

int

In [26]:
type("string")

str

In [27]:
type(1.0)

float

## Data Type

In [29]:
type("Hello World")

str

In [30]:
type(20)

int

In [31]:
type(20.5)

float

In [32]:
type(1j)

complex

In [33]:
type(["a", "b", "c"])

list

In [34]:
type(("a", "b", "c"))

tuple

In [35]:
type(range(6))

range

In [36]:
type({"name": "John", "age": 36})

dict

In [37]:
type({"a", "b", "c"})

set

In [38]:
type(frozenset({"a", "b", "c"}))

frozenset

In [39]:
type(True)

bool

In [40]:
type(b"Hello")

bytes

In [41]:
type(bytearray(5))

bytearray

In [42]:
type(memoryview(bytes(5)))

memoryview

In [43]:
type(None)

NoneType

In [44]:
str("Hello World!")

'Hello World!'

In [46]:
int(20.2)

20

In [47]:
float(20)

20.0

In [48]:
complex(1j)

1j

In [49]:
list(("apple", "banana", "cherry"))

['apple', 'banana', 'cherry']

In [50]:
tuple(("a", "b", "c"))

('a', 'b', 'c')

In [51]:
range(6)

range(0, 6)

In [52]:
dict(name="John", age=36)

{'name': 'John', 'age': 36}

In [53]:
set(('a', 'b', 'c'))

{'a', 'b', 'c'}

In [54]:
frozenset(('a', 'b', 'c'))

frozenset({'a', 'b', 'c'})

In [55]:
bool(5)

True

In [56]:
bytes(5)

b'\x00\x00\x00\x00\x00'

In [57]:
bytearray(5)

bytearray(b'\x00\x00\x00\x00\x00')

In [58]:
memoryview(bytes(5))