In [23]:
from datetime import datetime, date, timedelta

In [25]:
# Lập trình Python cơ bản: https://www.youtube.com/watch?v=-B-Wu8ktaK4
"""
    Yêu cầu người dùng nhập vào 2 chuỗi ký tự bất kỳ
    Kiểm tra xem chúng có phải là anagrams (phép đảo chữ) của nhau không?
    Định nghĩa anagram: 2 từ là anagram của nhau nếu ta có thể thu được từ này bàng cách đổi vị trí các ký tự của từ kia.
    Các ví dụ:
    "New York Times" và "monkeys write"
    "coronavirus" và "carnivorous"
    "a gentleman" = "elegant man"
    "silent" = "listen"
"""

'\n    Yêu cầu người dùng nhập vào 2 chuỗi ký tự bất kỳ\n    Kiểm tra xem chúng có phải là anagrams (phép đảo chữ) của nhau không?\n    Định nghĩa anagram: 2 từ là anagram của nhau nếu ta có thể thu được từ này bàng cách đổi vị trí các ký tự của từ kia.\n    Các ví dụ:\n    "New York Times" và "monkeys write"\n    "coronavirus" và "carnivorous"\n    "a gentleman" = "elegant man"\n    "silent" = "listen"\n'

In [26]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    
    return sorted(str1) == sorted(str2)

In [27]:
are_anagrams("New York Times", "monkeys write")

True

In [28]:
are_anagrams("coronavirus", "carnivorous")

True

In [29]:
"""
    Viết 1 hàm nhận 2 tham số đầu vào là 2 chuỗi ký tự bất kỳ, hàm trả về 1 danh sách bao gồm các ký tự xuất hiện ở cả 2 chuỗi
"""

'\n    Viết 1 hàm nhận 2 tham số đầu vào là 2 chuỗi ký tự bất kỳ, hàm trả về 1 danh sách bao gồm các ký tự xuất hiện ở cả 2 chuỗi\n'

In [30]:
def common_chars(str1, str2):
    result = ""
    str2_list = list(str2)
    for char1 in str1:
        for char2 in str2_list:
            if char1 == char2:
                result += char1
                str2_list.remove(char2)
                break
                
    return result

In [31]:
common_chars("abcskjf", "skjfkdjfkd")

'skjf'

In [32]:
"Cuong"[::-1]

'gnouC'

In [1]:
type(1)

int

In [2]:
type("string")

str

In [3]:
type(1.0)

float

In [4]:
type([1, 2, 3, 4])

list

In [5]:
isinstance(1, int)

True

In [6]:
isinstance(1.0, float)

True

In [7]:
isinstance("string", str)

True

In [8]:
invalid_str = "abc"
try:
    int(invalid_str)
except ValueError:
    "Không thể chuyển đổi thành công"

In [9]:
int("invalid_str")

ValueError: invalid literal for int() with base 10: 'invalid_str'

In [10]:
numbers = [1, 2, 3, 4, 5, 6]
[x * 2 for x in numbers if x % 2 == 0]

[4, 8, 12]

In [12]:
for index, fruit in enumerate(["apple", "banana", "cherry"]):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [17]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 95]
combined = zip(names, scores)
list(combined)
for name, score in zip(names, scores):
    print(name, score)

Alice 85
Bob 90
Charlie 95

In [18]:
range(5)

range(0, 5)

In [19]:
[x for x in range(5)]

[0, 1, 2, 3, 4]

In [20]:
[x for x in range(0, 10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
[x for x in range(1, 20, 2)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
[x for x in range(9, 0, -1)]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
print(date.today())

2024-12-15

In [27]:
print(datetime.now())

2024-12-15 21:57:54.685646

In [28]:
print(date(2024, 12, 15))

2024-12-15

In [29]:
print(datetime(2024, 12, 15, 10, 30, 45))

2024-12-15 10:30:45

In [30]:
now = datetime.now()
print(now.strftime("%Y-%m-%d"))

2024-12-15

In [31]:
print(date.today() + timedelta(days=10))

2024-12-25

In [32]:
print(datetime.now() - timedelta(hours=10))

2024-12-15 12:05:09.912980

In [33]:
print(datetime.now().year)

2024

In [34]:
print(datetime.now().day)

15

In [35]:
datetime.now().timestamp()

1734275296.512835

In [36]:
timestamp_now = datetime.now().timestamp()
datetime.fromtimestamp(timestamp_now)

datetime.datetime(2024, 12, 15, 22, 8, 44, 68987)

In [1]:
str = "Hello World!"

In [2]:
number = 2

In [3]:
pi = 3.14

In [4]:
fruits = ["Apple", "Orange", "tangerine"]

:

In [ ]:
programming_language = {
    "python": "easy to learn",
    "year": 1991
}